<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateTaskServlet</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.CreateTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNewChannelServlet</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.AddNewChannelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskManageServlet</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.TaskManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CurrentUsersServlet</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.CurrentUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UsernameCheck</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.UsernameCheck</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EmailCheck</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.EmailCheck</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.SendMessage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMessages</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.UpdateMessages</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMessages</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.GetMessages</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TaskOps</servlet-name>
    <servlet-class>org.joe.ifttt.server.servlet.TaskOps</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/servlet/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTaskServlet</servlet-name>
    <url-pattern>/servlet/CreateTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewChannelServlet</servlet-name>
    <url-pattern>/servlet/AddNewChannelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskManageServlet</servlet-name>
    <url-pattern>/servlet/TaskManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CurrentUsersServlet</servlet-name>
    <url-pattern>/servlet/CurrentUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsernameCheck</servlet-name>
    <url-pattern>/servlet/UsernameCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailCheck</servlet-name>
    <url-pattern>/servlet/EmailCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/servlet/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMessages</servlet-name>
    <url-pattern>/servlet/UpdateMessages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMessages</servlet-name>
    <url-pattern>/servlet/GetMessages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskOps</servlet-name>
    <url-pattern>/servlet/TaskOps</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
